types {
  text/plain yaml;
  text/plain yml;
}

gzip on;
gzip_static on;
gzip_disable "msie6";

gzip_vary on;
gzip_types text/plain text/css application/javascript application/json text/html;

server_tokens off;

server {
  listen 8080;
  server_name localhost;
  index index.html;

  location /api/ {
    proxy_pass http://127.0.0.1:3000/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location / {
    absolute_redirect off;
    alias /app/;
    expires 1d;
    add_header 'X-Frame-Options' 'DENY' always;
    add_header 'Content-Security-Policy' "frame-ancestors 'none'" always;
  }
}
