/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBg {
  background-image: url("@site/static/img/header.jpg");
  background-size: cover;
  background-position-y: center;
  height: 500px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
